<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>kadai_java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Loginする時のコントローラクラスです</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kenshu.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryServlet</display-name>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>com.kenshu.controller.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/InventoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryAdd</display-name>
    <servlet-name>InventoryAdd</servlet-name>
    <servlet-class>com.kenshu.controller.InventoryAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryAdd</servlet-name>
    <url-pattern>/InventoryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryAddConfirmServlet</display-name>
    <servlet-name>InventoryAddConfirmServlet</servlet-name>
    <servlet-class>com.kenshu.controller.InventoryAddConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryAddConfirmServlet</servlet-name>
    <url-pattern>/InventoryAddConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>在庫の編集サーブレット</description>
    <display-name>InventoryEditServlet</display-name>
    <servlet-name>InventoryEditServlet</servlet-name>
    <servlet-class>com.kenshu.controller.InventoryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryEditServlet</servlet-name>
    <url-pattern>/InventoryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>在庫の削除</description>
    <display-name>InventoryDeleteServlet</display-name>
    <servlet-name>InventoryDeleteServlet</servlet-name>
    <servlet-class>com.kenshu.controller.InventoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryDeleteServlet</servlet-name>
    <url-pattern>/InventoryDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>